<ol class="col-start-1 col-end-2 row-start-1 grid grid-cols-1" style="grid-template-rows: 1.75rem repeat(288, minmax(0, 1fr)) auto">
  <li class="relative -mt-1 flex" 
      style="grid-row: <%= 2 + event.full_start_time.in_time_zone(event.user.time_zone).strftime('%H').to_i * 12 + (event.full_start_time.in_time_zone(event.user.time_zone).strftime('%M').to_i * 12.0 / 60).round %> / span <%= (((event.duration) / 24 / 12).to_i) %>"
      data-time="<%= event.full_start_time.in_time_zone(event.user.time_zone).iso8601 %>"
      data-duration="<%= event.duration %>"
      >
    <a href="<%= event.html_link %>" target="_blank" class="group absolute inset-1 flex flex-col overflow-y-auto rounded-lg border border-white p-2 text-xs/5" style="background-color: <%= event.background_color %>; color: <%= event.foreground_color %>;">
      <p class="order-1 font-semibold"><%= event.title %></p>
      <p><time datetime="<%= event.start_date.strftime('%Y-%m-%d') %>T<%= event.full_start_time.in_time_zone(event.user.time_zone).strftime('%H:%M') %>"><%= event.full_start_time.in_time_zone(event.user.time_zone).strftime('%H:%M') %></time></p>
    </a>
  </li>
</ol>